:host {
  padding: 50px 100px;
  display: block;
}

.carousel {

  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: hidden;
}


article {
  white-space: nowrap;
  flex: 1;
  width: 100%;
  overflow: hidden;
}

.hide {
  width: 0px;
  height: 0px;
  overflow: hidden;
}

section {
  transition: all .8s ease-in-out;
}


